@{
    ViewData["Title"] = "Sign Up";
}
<div class="text-center">
    <h1 class="display-4">Реєстрація нового користувача</h1>
</div>

<form id="signup-form" method="post" class="border m-3 p-3">
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text"
                      id="username-addon">
                    <i class="bi bi-person-vcard"></i>
                </span>

                <input type="text"
                       name="user-name"
                       class="form-control"
                       placeholder="Username"
                       aria-label="Username"
                       aria-describedby="username-addon">

                <div class="invalid-feedback">
                    Необхідне поле
                </div>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text"
                      id="user-email-addon">
                    <i class="bi bi-envelope-at"></i>
                </span>

                <input type="email"
                       name="user-email"
                       class="form-control"
                       placeholder="E-mail"
                       aria-label="E-mail"
                       aria-describedby="user-email-addon">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text"
                      id="user-login-addon">
                    <i class="bi bi-key"></i>
                </span>

                <input type="text"
                       name="user-login"
                       class="form-control"
                       placeholder="Login"
                       aria-label="Login"
                       aria-describedby="user-login-addon">
            </div>
        </div>

        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text"
                      id="user-password-addon">
                    <i class="bi bi-lock"></i>
                </span>

                <input type="password"
                       title="password"
                       id="user-password-addon"
                       name="user-password"
                       class="form-control"
                       placeholder="Password"
                       aria-label="Password"
                       aria-describedby="user-password-addon">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="input-group mb-3">

                <span class="input-group-text"
                      id="user-phone-number-addon">
                    <i class="bi bi-phone"></i>
                </span>

                <input type="tel"
                       title="Phone number"
                       id="user-phone-number-addon"
                       name="user-phone-number"
                       class="form-control"
                       aria-label="Phone number"
                       aria-describedby="user-phone-number-addon"
                       placeholder="Phone number">
            </div>
        </div>

        <div class="col">
            <div class="col" title="date">
                <div class="input-group mb-3">

                    <span class="input-group-text"
                          id="user-birthdate-addon">
                        <i class="bi bi-cake"></i>
                    </span>

                    <input type="date"
                           title="Date of birth"
                           id="user-birthdate-addon"
                           name="user-birthdate"
                           class="form-control "
                           aria-label="Date of birth"
                           aria-describedby="user-birthdate-addon" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-check">
                <div class="mb-3">
                    <input class="form-check-input"
                           type="checkbox"
                           id="checkDefault"
                           name="agreement"
                           value="true">
                    <label class="form-check-label" for="checkDefault">
                        Погоджуюсь з <a asp-controller="Home" asp-action="Privacy">правилами сайту</a>
                    </label>
                </div>
            </div>
        </div>

        <div class="col">
            <button class="btn btn-primary" type="submit">
                Зареєструватися
            </button>
        </div>
    </div>
</form>