@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Розробка веб-додатків з використанням технології ASP.NET Core</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>
    Зміст
</h2>
<h3>
    <a asp-action="Intro">Вступ до ASP</a> <br />
    <a asp-action="Razor">Синтаксис Razor</a> <br />
    <a asp-action="IoC">Інверсія управління. Сервіси</a> <br />
    <a asp-action="IoCHomework">Інверсія управління. Д/З</a> <br />
    <a asp-action="Services">Services. 04.11 Homework</a> <br />
    <a asp-action="Forms">Форми. Передача даних до сервера</a> <br />
</h3>
