@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Розробка веб-додатків з використанням технології ASP.NET Core</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>
    Зміст
</h2>
<div class="list-group">
    <a class="list-group-item list-group-item-action" asp-action="Intro">Вступ до ASP</a>
    <a class="list-group-item list-group-item-action" asp-action="Razor">Синтаксис Razor</a>
    <a class="list-group-item list-group-item-action" asp-action="IoC">Інверсія управління. Сервіси</a>
    <a class="list-group-item list-group-item-action" asp-action="IoCHomework">Інверсія управління. Д/З</a>
    <a class="list-group-item list-group-item-action" asp-action="Services">Services. 04.11 Homework</a>
    <a class="list-group-item list-group-item-action" asp-action="Forms">Форми 1. Передача даних до сервера</a>
    <a class="list-group-item list-group-item-action" asp-action="FormsHomework">Форми. Практика</a>
    <a class="list-group-item list-group-item-action" asp-action="FormModels">Форми 2. Моделі форм</a>
    <a class="list-group-item list-group-item-action" asp-action="Controllers" title="Контролери">
        <i class="bi bi-sign-intersection-y"></i> Контролери
    </a>
    <a class="list-group-item list-group-item-action" asp-action="ControllersHomework">
        <i class="bi bi-sign-intersection-y"></i> Контролери. Практичне 13.11
    </a>
    <a class="list-group-item list-group-item-action" title="База даних. Контекст" asp-action="Db">
        <i class="bi bi-database"></i> База даних. Контекст
    </a>
    <a class="list-group-item list-group-item-action" title="Middleware" asp-action="Middleware">
        <i class="bi bi-arrow-bar-right"></i> Middleware. Утримання авторизації
    </a>
</div>
