@{
    ViewData["Title"] = "Razor";
}

<div class="text-center">
    <h1 class="display-4">Razor syntax</h1>
</div>
<h2>
    Ideas
</h2>
<p>
    The main task that is solved during server activity is strings and data interpolatin, forming HTML as String (string variable)
    with additional tasks of importing data, virtual and cyclic layout
</p>