@{
    ViewData["Title"] = "Services";
}
<div class="text-center">
    <h1 class="display-4">Services. Homework</h1>
</div>

<h2>
    1. OTP (One time password) task:
</h2>
<p>
    @ViewData["password"]
</p>
<h2>
    2. Random folder name task:
</h2>
<p>
    @ViewData["randomFolderName"]
</p>