@{
    ViewData["Title"] = "Cart";
    bool isAuthenticated = Context.User.Identity?.IsAuthenticated ?? false;
}
<div class="text-center">
    <h1 class="display-4">
        Мій кошик
    </h1>
</div>

@if (!isAuthenticated)
{
    <div class="alert alert-danger text-center" role="alert">
        Для перегляду кошику необхідно увійти до системи
    </div>
}
else
{
    
}