html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

[contentEditable] {
    background-color: #ffe !important;
}

.w-15 {
    width: 15%;
}

.wh-2 {
    height: 2em;
    width: 2em;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
